<h3>BindAfterDemo</h3>  

@* <input type="text" @bind="busqueda" @bind:after="Buscar"  /> *@
@* <input type="text" @bind="busqueda" @bind:after="Buscar.result" /> *@
@* <input type="text" @bind="busqueda" @bind:after="@(async () => await Buscar(busqueda))" /> *@
@* <input type="text" @onchange="@Buscar" /> *@
@* <input type="text" @bind="@busqueda" /> *@
<input type="text" @onchange="@Buscar" />
@* <input type="text" @bind="busqueda"  @onchange="@Buscar" /> *@



<p>
    Personas encontradas: 
</p>

<ul>
    @foreach(var persona in personasEncontradas)
    {
        <li>@persona</li>
    }
</ul>

@code {
    private string busqueda = string.Empty;
    // private string busqueda { get; set; } = "";
    private List<string> personasEncontradas = new List<string>();

    // private async Task Buscar(string valor)
    private async Task Buscar()
    // async void Buscar(ChangeEventArgs valor)
    {
        var personas = new List<string>
        {
            "Felipe Gavilán",
            "Felipe Díaz",
            "Claudia Rodriguez",
            "Claudia Celeste"
        };
        await Task.Delay(1000);
        personasEncontradas = personas.Where(p => p.Contains(busqueda)).ToList();
    }
}
